@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Roboto,'Times New Roman', Times, serif;
}
/* -------------------------------------------- */
.header{
    flex:1;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;    
}
.header .title{
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
}

ul{
    display:flex;
    list-style: none;
    gap:4px;
}
a{
    text-decoration: none;
    color:#e5e7eb;
    font-size: 18px;;
}

.description{
    display: flex;
}

.main-title{
    color: #f9faf8;
    font-size: 49px;
    font-weight:800;
}

.title-description{
    color: #e5e7eb;
    font-size: 18px;
}




/* -------------------------------------------- */
.info{
    flex:1;
    display: flex;
    flex-direction: column;
}

.facts{
    display: flex;

}

.info-title
{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}





/* -------------------------------------------- */
.quote{
    flex:1;
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    
}

.quote>.main{
    font-size: 36px;
    font-style:italic;
    color:#1F2937;
}
/* -------------------------------------------- */


.action{
    flex:1;
    display: flex;
    background-color: #3882f6;;

}
/* -------------------------------------------- */
.footer{
    flex:1;
    background-color: #1F2937;
}

button{
    background-color: #3882f6;
    color: #f9faf8;
}