@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Roboto,'Times New Roman', Times, serif;
}
/* -------------------------------------------- */
.header{
    flex:1;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;    
}
.header .title{
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    justify-content: space-evenly;
}

ul{
    display:flex;
    list-style: none;
    gap: 24px;
    justify-content: end;
}
a{
    text-decoration: none;
    color:#e5e7eb;
    font-size: 18px;;
}

.description{
    display: flex;
    justify-content: space-evenly;
    

}

.left{
    flex:1;
    max-width: 450px;
    margin: 100px 50px;
}

.right{
    flex:1;
    background-color:grey;
    margin:100px 50px;
    max-width: 500px;   
    display:flex;
    justify-content: center; 
}
.bg{
    color:#e5e7eb;
    align-self: center;
}

.main-title{
    color: #f9faf8;
    font-size: 48px;
    font-weight:800;
}

.title-description{
    color: #e5e7eb;
    font-size: 18px;
}

.logo{
    align-self:  center;
    text-align: left;
    font-weight: 800;
    margin: 10px 50px;
    flex:1;
    max-width: 450px;
}

.links{
    max-width: 500px;
    flex: 1;
    margin:10px 50px;
}




/* -------------------------------------------- */
.info{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 80px;
}

.facts{
    display: flex;
    gap: 50px;
    justify-content: center;


}

.info-title
{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin: 30px;


}

.box{
    width:auto;
    height:150px;
    max-height:150px;
    max-width: 150px;
    border: 3px solid #3882f6;
    border-radius: 8px;
    color:transparent;
}

.ok{
    max-width: 150px;
    font-weight: 500;
    color:#1f2937e5;
    text-align: center;
}





/* -------------------------------------------- */
.quote{
    flex:1;
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 50px;
    
}

.quote>.main{
    font-size: 30px;
    font-weight:100px;
    font-style: italic;
    color:#1F2937;
    padding: 40px;
    max-width: 680px;
    align-self: center;
    
}
.main>.author{
    font-style: normal;
    font-size: 18px;
    text-align: right;
    font-weight: 800;
}

/* -------------------------------------------- */


.action{
    flex:1;
    display: flex;
    background-color: #f9faf8;
    justify-content: center;

}
.card{
    display: flex;
    background-color: #3882f6;
    margin:75px 150px;
    justify-content: space-around;
    flex:1;
    padding: 30px 60px;
    border-radius: 10px;
    align-items: center;
    max-width: 800px;

}
.card>.left{
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    margin:0px;
    flex:3;
}

.card>.right{
    margin:0px;
    flex:1;
    display:flex;
    background-color: #3882f6;
    height: auto;
    justify-content: end;
}
.text {
    font-size: 12px;
    font-weight: lighter;
}


/* -------------------------------------------- */
.footer{
    flex:1;
    background-color: #1F2937;
}

button{
    background-color: #3882f6;
    color: #f9faf8;
    border:5px solid #3882f6;
    border-radius: 8px;
    padding: 2px 16px;
    font-weight:600;
    margin-top: 10px;
    cursor: pointer;
}

.action button{
    margin: 0px;
    border: 2px solid #e5e7eb;
    padding: 5px 19px;
}

/* ---------------------------------------- */
.footer{
    text-align: center;
    padding: 20px 0px;
    color:#e5e7eb;
    font-size: 12px;
}